@charset "UTF-8";

/* すべてのWebページに適用される */
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #f5f3eb;
}
.wrapper{
    margin: 0 auto 0 auto;
    width:1200px;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

.here{
    margin-left: 180px;
}
p {
    line-height: 160%;
}

a:link{
    color: #6aa4d6;
}

a:visited{
    color: #6aa4d6;
}

a:hover{
    color: #4f7697;
}

a:active {
    color: #aed3f2;
}

img{
    border-style: none;
}

/* すべてのページに適用 - navまわり - */
#nav li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

#nav {
    margin: 0 0 0 0;
    padding: 40px 30px 10px 30px;
    background-image: url(../images/menu-bg.png);
}

#nav li a:link{
    color: #f5f3eb;
    text-decoration: none;
}

#nav li a:visited{
    color: #f5f3eb;
    text-decoration: none;
}

#nav li a:hover{
    color: #e4dbb9;
    text-decoration: none;
}

#nav li a:active {
    color: #ffffff;
    text-decoration: none;
}

/* すべてのページに適用 - fotter - */
#footer {
    background-image: url(../images/footer-bg.png);
    background-repeat: repeat-x;
    margin-top: 30px;
    padding:20px 0 20px 0;
    font-size: smaller;
    color: #442220;
}

/* メイントップ */
.top{
    font-size:13px;
    width:auto;
    margin-right: auto;
    margin-left: 250px;
    margin-bottom: 1px;
    border:1px solid #442220;
    background-color: #FFFFFF;
}

/* メイン年表 */
table.table1 { 
    margin-left: auto;
    margin-right: auto;
    width: auto; /* テーブルの横幅 */ 
    border-collapse: collapse; /* 枠線の表示方法 */ 
    border: 1px solid #1280da; /* テーブル全体の枠線（太さ・色・スタイル） */ 
    background-color: #fffaf0; /* 背景色 */ 
    text-align: center;
    table-layout: fixed;
    } 
table.table1  th, table.table1  td {
    padding: 3px 3px 3px 3px;
    border: 1px solid #d6c2b5; /* セルの枠線（太さ・色・スタイル） */ 
    vertical-align: middle;
}
table.table1 th{
    background-color: #c99e73;
    color: #442220;
}
table.table1 th.years,td.years{
    background-color: #eee5df;
    width: auto;
    table-layout: fixed;
}

.miyapaku{
    width:350px;
}
.mv{
    color:#fa6666;
}
.an{
    color:#9999fa;
}
.other{
    font-size:13px;
}
.miyazaki {
    width:150px;
}




/* 個別のスタイルのデザイン */
